[Unit]
Description=PaperFatcher daily timer

[Timer]
OnCalendar=*-*-* 05:30:00
Persistent=true
Unit=paperfatcher.service

[Install]
WantedBy=timers.target
